<%-include('../partials/header.ejs') %>
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm mt-5 ">
            <div class="col-md-4 mb-3 ">        
              <div class="card mt-3  ">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><a href="/profile" class="text-dark">Profile</a> </h6>
                  
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><a href="/address" >Address</a> </h6>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><a href="/order" class="text-dark">Order</a> </h6>
                    
                  </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><a href="/change_password" class="text-dark">Privacy</a> </h6>
                    
                  </li>
                <!--  <li class="list-group-item d-flex justify-content-between align-items-center flex-wr  </li> -->
                </ul>
              </div>
            </div>
            <!---------------------------------------Profile menu Ends--------------------------------------------  -->
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body profile">
                  <form id="address_form" method="post" action="/address">
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label" for="name">Name</label>
                            <input type="text" id="name" class="form-control" name="name"required/>
    
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" id="email" class="form-control" name="email" required />
    
                        </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label" for="mobile">Mobile</label>
                            <input type="number" minlength="10" maxlength="10" id="mobile" class="form-control" name="mobile" value="amal" required/>
                            <p class="text-danger"><%=locals.mobileError%> <p>

                        </div>
                     </div>

                     <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="pin-code">Zip-code</label>
                            <input type="number" minlength="6" maxlength="6" id="pin-code" class="form-control" name="zipcode"required />
                            <p class="text-danger"><%=locals.zipError%> <p>

                        </div>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="address">Address</label>
                            <textarea id="address" class="form-control" name="address"required></textarea>
    
                        </div>
                  </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <button class="btn  btn-outline-dark rounded" >Add</button>
                    </div>
                  </div>
                  <a href="/address">Back</a>
                </form>
                </div>
              </div>
         
            </div>
          </div>

        </div>
    </div>

    <script>
      
       function addAdrress(){
        
        $.ajax({
          
          type:'post',
          url:'/address',
          data:$('#address_form').serialize(),
          success:(res)=>{
             if(res.success){
            alert('submited')
             }
          },
          error:(error)=>{

            alert('Something went wrong')
          }

        })
      }
     
      
    </script>
