<%-include('../partials/header.ejs') %>


<style >


    .payment1
	{
		border:1px solid #f2f2f2;
		height:280px;
        border-radius:20px;
        background:#fff;
	}
   .payment_header1
   {
	   background:rgb(38, 37, 37);
	   padding:20px;
       border-radius:20px 20px 0px 0px;
	   
   }
   
   .check1
   {
	   margin:0px auto;
	   width:50px;
	   height:50px;
	   border-radius:100%;
	   background:#fff;
	   text-align:center;
   }
   
   .check1 i
   {
	   vertical-align:middle;
	   line-height:50px;
	   font-size:30px;
   }

    .content1 
    {
        text-align:center;
    }

    .content1  h1
    {
        font-size:25px;
        padding-top:25px;
    }

    .content1 a
    {
        width:200px;
        height:35px;
        color:#fff;
        border-radius:30px;
        padding:5px 10px;
        background:rgb(32, 31, 31);
        transition:all ease-in-out 0.3s;
    }

    .content1 a:hover
    {
        text-decoration:none;
        background:#000;
    }
   
</style>
<div class="container">
  <div class="row">
     <div class="col-md-6 mx-auto mt-5">
        <div class="payment1">
           <div class="payment_header1">
              <div class="check1"><i class="fa fa-check" aria-hidden="true"></i></div>
           </div>
           <div class="content1">
              <h1>Payment Success !</h1>
              <%if(order_id) { %> 
              <p>Reference ID: <a href="/order_detail?id=<%=order._id%>" class="text-decoration none bg-transparent text-dark"><%=order_id  %> </a> </p>
              <% } %> 
              <a href="/products">Back to shopping</a>
           </div>
           
        </div>
     </div>
  </div>
</div>
 <%-include('../partials/footer.ejs') %>
