<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/User/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/User/css/login.css">
</head>
<body>

<div class="container login-box">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <%=locals.message %> 
                        <h2 class="form-title">Reset Password</h2>
                        <form method="POST" action="/reset" class="register-form" id="register-form"> 
                        
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" required/>
                                <span id="emailerror" class="text-danger font-weight-bold"></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="otp_genrate" id="otp_genrate" class="form-submit" value="Generate OTP"  />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/User/img/signup.jpg" alt="Forgot pass image"></figure>
                        <a href="/login" class="signup-image-link">Login</a>
                    </div>
                </div>
            </div>
        </section>
</div>  

</body>
</html>